[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "DATABASE_URL='mysql://user:pass@localhost:3306/db' npx prisma generate",
  "npm run build"
]

[start]
cmd = "npx prisma migrate deploy && npm run start:prod"
