@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (max-width: 768px) {
    html, body {
      overflow: hidden;
      height: 100vh;
      position: fixed;
      width: 100%;
    }
  }
}
